
# C compile outputs

*.o
*.lo
*.la

Makefile

autom4te.cache
/autoscan.log
/autoscan-*.log
#/aclocal.m4
#/compile
#/config.guess
#/config.h.in
#/config.log
/config.status
#/config.sub
#/configure
/configure.scan
#/depcomp
/install-sh
#/missing
/stamp-h1

src/.deps/
src/.libs/
                 

# Compiled binaries:
src/acfana
src/afconvert
src/afdiff
src/affilter
src/f0_ksv
src/f0_mhs
src/ffinfo
src/forest
src/msb
src/rfcana
src/rmsana
src/spectrum
src/zcrana

assp.pc
config.h
config.log
libtool
misc.pc
